# Public Verification of Trust Domains

To be announced
